* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gradient-bg-welcome {
  background-color: #0f0e13;
  background-image:
    radial-gradient(at 0% 0%, hsla(253, 16%, 7%, 1) 0, transparent 50%),
    radial-gradient(at 50% 0%, hsla(225, 39%, 30%, 1) 0, transparent 50%),
    radial-gradient(at 100% 0%, hsla(339, 49%, 30%, 1) 0, transparent 50%);
}

.gradient-bg-services {
  background-color: #0f0e13;
  background-image:
    radial-gradient(at 0% 0%, hsla(253, 16%, 7%, 1) 0, transparent 50%),
    radial-gradient(at 50% 100%, hsla(225, 39%, 25%, 1) 0, transparent 50%);
}

.gradient-bg-transactions {
  background-color: #0f0e13;
  background-image:
    radial-gradient(at 0% 100%, hsla(253, 16%, 7%, 1) 0, transparent 50%),
    radial-gradient(at 50% 0%, hsla(225, 39%, 25%, 1) 0, transparent 50%);
}

.gradient-bg-footer {
  background-color: #0f0e13;
  background-image:
    radial-gradient(at 0% 100%, hsla(253, 16%, 7%, 1) 0, transparent 53%),
    radial-gradient(at 50% 150%, hsla(339, 49%, 30%, 1) 0, transparent 50%);
}

.blue-glassmorphism {
  background: rgb(39, 51, 89, 0.4);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

/* white glassmorphism */
.white-glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.eth-card {
  background-color: #a099ff;
  background-image:
    radial-gradient(at 83% 67%, rgb(152, 231, 156) 0, transparent 58%),
    radial-gradient(at 67% 20%, hsla(357, 94%, 71%, 1) 0, transparent 59%),
    radial-gradient(at 88% 35%, hsla(222, 81%, 65%, 1) 0, transparent 50%),
    radial-gradient(at 31% 91%, hsla(9, 61%, 61%, 1) 0, transparent 52%),
    radial-gradient(at 27% 71%, hsla(336, 91%, 65%, 1) 0, transparent 49%),
    radial-gradient(at 74% 89%, hsla(30, 98%, 65%, 1) 0, transparent 51%),
    radial-gradient(at 53% 75%, hsla(174, 94%, 68%, 1) 0, transparent 45%);
}

.text-gradient {
  background-color: #fff;
  background-image: radial-gradient(at 4% 36%, hsla(0, 0%, 100%, 1) 0, transparent 53%), radial-gradient(at 100% 60%, rgb(0, 0, 0) 0, transparent 50%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

#navbar--login--menuitem {
  background-color: #2952e3;
  border-radius: 20px;
  padding: 7px 20px 7px 20px;
}

#navbar--login--menuitem:hover {
  background-color: #2546bd;
}

.navbar img {
  width: 150px;
}

.navbar nav {
  align-self: center;
}

.navbar--navmenu {
  display: flex;
  align-items: center;
  list-style: none;
  column-gap: 40px;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.navbar--mobile-navmenu {
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.welcome {
  display: flex;
  justify-content: center;
  column-gap: 160px;
  margin-top: 100px;
}

.welcome--title {
  font-weight: 400;
  font-size: 60px;
  line-height: 74px;
}

.welcome--about {
  color: white;
  line-height: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.welcome--connect--wallet--button {
  background-color: #2952e3;
  color: white;
  font-size: 20px;
  padding-right: 20px;
  padding-left: 17px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 50px;
  cursor: pointer;
}

.welcome--connect--wallet--button:hover {
  background-color: #2546bd;
}

.grid-container {
  display: grid;
  grid-template-columns: 180px 180px 180px;
  text-align: center;
  color: white;
  padding: 20px 0px 20px 0px;
}

.welcome--blockchain--features {
  border: 1px solid white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.welcome--ethereum--card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 350px;
  height: 180px;
  border-radius: 20px;
  color: white;
  margin: auto;
}

.welcome--ethereum--card--icon--info {
  display: flex;
  justify-content: space-between;
}

.welcome--ethereum--card--address {
  margin-left: 20px;
}

.welcome--form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

input {
  padding: 10px;
  color: white;
  outline: none;
  width: 450px;
}

::placeholder {
  color: white;
}

.welcome--form--divider {
  height: 0px;
  background-color: #4d4d33;
  border: 1px solid #4d4d33;
}

button {
  color: white;
  font-size: 15px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 10px 0px 10px 0px;
  cursor: pointer;
}

button:hover {
  background-color: #3d4f7c;
}